<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- 移动端界面设置-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>分类</title>

  <link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment c-padded-tb-mini c-nav-shadow">

  <div class="ui inverted secondary stackable menu">

    <h2 class="ui red  header item">Blog</h2>
    <a href="#" class="j-item item c-mobile-hide"><i class="home icon"></i>首页</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="server icon"></i>分类</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="tags icon"></i>标签</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="clone icon"></i>归档</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="clipboard outline icon"></i>更多</a>
    <div class="right j-item item c-mobile-hide">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="搜索...">
        <i class="search link icon" ></i>
      </div>
    </div>
    <a href="#" class="ui menu toggle black button c-top-right c-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </div>

</nav>

<!-- body -->
<div class="c-padded-tb-massive">
  <div class="ui container">

    <!--header-->
    <div class="ui top attached padded segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <h3 class="ui black header">归档</h3>
        </div>
        <div class="right aligned column">
          共<h3 class="ui red header custom-block">124</h3>篇博客
        </div>
      </div>
    </div>

    <!--menu-->
    <h2 class="ui center aligned header">2021</h2>
    <div class="ui fluid vertical menu">
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
    </div>

    <h2 class="ui center aligned header">2020</h2>
    <div class="ui fluid vertical menu">
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
    </div>

    <h2 class="ui center aligned header">2019</h2>
    <div class="ui fluid vertical menu">
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
      <a href="#" target="_blank" class="item">
        <span>
          <i class="mini blue circle icon"></i> 学习认知清单
          <div class="ui blue basic label"> 9月03</div>
        </span>
        <div class="ui orange basic rounded label"> 原创</div>
      </a>
    </div>





  </div>

</div>

<!-- footer -->
<footer class="ui inverted attached segment">
  <div class="c-footer-text" >
    <h5>此博客网站仅供个人使用</h5>
    <span id="runTime"></span>

  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" src="../static/js/time.js" th:src="@{js/time.js}"></script>
</body>
</html>