<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- 移动端界面设置-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>分类</title>

  <link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment c-padded-tb-mini c-nav-shadow">

  <div class="ui inverted secondary stackable menu">

    <h2 class="ui red  header item">Blog</h2>
    <a href="#" class="j-item item c-mobile-hide"><i class="home icon"></i>首页</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="server icon"></i>分类</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="tags icon"></i>标签</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="clone icon"></i>归档</a>
    <a href="#" class="j-item item c-mobile-hide"><i class="clipboard outline icon"></i>更多</a>
    <div class="right j-item item c-mobile-hide">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="搜索...">
        <i class="search link icon" ></i>
      </div>
    </div>
    <a href="#" class="ui menu toggle black button c-top-right c-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </div>

</nav>

<!-- body -->
<div class="c-padded-tb-massive">
  <div class="ui container">

    <!--header-->
    <div class="ui top attached segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <h3 class="ui black header">分类</h3>
        </div>
        <div class="right aligned column">
          共<h3 class="ui red header custom-block">14</h3>个
        </div>
      </div>
    </div>

    <!--tags-->
    <div class="ui attached segment">
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
      <div class="ui labeled button c-margin-tb-tiny">
        <a href="#" class="ui basic blue button"><i class="tag icon"></i>学习认知</a>
        <div class="ui basic black left pointing label">12</div>
      </div>
    </div>

    <!--title-->
    <div class="ui top attached segment">
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui padded vertical segment">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">Blog项目开发流程</h3>
              <p class="custom-text">太湖第一本特问问TV蝴蝶臀头文字特开裆裤牛，有呢，，の而开发股票批UB不太依赖也够了fit入口处鼓浪屿要逆天你看没看一个开头语音乐你开挂屯UN一ink与给你听你同意uvityvyvviugvkyv你银土大同小异腾讯</p>
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui avatar image" width="100" height="100">
                      <div class="content custom-block"><a href="#" class="header">Blog</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i>2021-7-15
                    </div>
                    <div class="item">
                      <i class="eye icon"></i>1234

                    </div>

                  </div>

                </div>
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui blue basic label c-padded-padded-mini">认知学习</a>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/29/23/05/poppy-6375453_960_720.jpg" alt="" class="ui rounded image" width="160" height="100">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div class="ui bottom attached segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <a href="#" class="ui grey basic button">上一页</a>
        </div>
        <div class="right aligned column">
          <a href="#" class="ui grey basic button">下一页</a>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- footer -->
<footer class="ui inverted attached segment">
  <div class="c-footer-text" >
    <h5>此博客网站仅供个人使用</h5>
    <span id="runTime"></span>

  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" src="../static/js/time.js" th:src="@{js/time.js}"></script>
</body>
</html>